html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
  .intro p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-project {
    width: 70%;
    margin-bottom: 20px;
  }
  .portfolio-project:last-child {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 850px) {
  .logo {
    width: 100%;
    position: relative;
  }
  .mobile-nav {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 25px;
    font-size: 25px;
  }
  .nav-items,
  .social-icons {
    display: none;
  }
  .mobile-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    padding-top: 140px;
    display: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-links ul li {
    margin-bottom: 40px;
    font-size: 25px;
  }
  .mobile-links a {
    text-decoration: none;
    padding: 5px 15px;
    transition: 1s;
    color: white;
  }
  .mobile-links a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  .mobile-social-icons {
    display: flex;
    justify-content: center;
  }
  .mobile-social-icons a i {
    width: 14px;
    height: 14px;
    /* margin-right: 50px; */
    color: white;
    font-size: 25px;
  }
  .mobile-social-icons a {
    margin-right: 50px;
  }
  .mobile-social-icons a:last-child {
    margin-right: 0px;
  }
  /* From here onward it will be aplicable for the about section */
  .about-page {
    display: block;
    height: 1100px;
  }
  .about-left {
    height: 300px;
    width: 100%;
  }
  .about-right {
    width: 100%;
    height: 550px;
  }
  .intro {
    height: 350px;
  }
  .contact {
    height: 170px;
  }
  .about-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
  }
  .about-items {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-items i {
    font-size: 20px;
  }
  .about-items p {
    font-size: 12px;
  }
  .skills {
    height: 1000px;
    display: block;
  }
  .left-skills {
    height: 500px;
    width: 100%;
  }
  .right-skills {
    height: 500px;
    width: 100%;
  }
  @media only screen and (max-width: 500px) {
    .about-right {
      height: 600px;
    }
    .intro {
      height: 400px;
    }
  }
  @media only screen and (max-width: 430px) {
    #contact-msg {
      width: 100%;
    }
    .mobile-nav {
      right: 50;
    }

    .about-right {
      height: 700px;
    }
    .intro {
      height: 500px;
    }
    .intro p {
      margin-right: 10px;
    }
    .about-page {
      height: 1300px;
    }
    .contact-holder i {
      font-size: 100px;
    }
    .contact-holder h1 {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 2;
    }
    .getintouch-holder h1 {
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 375px) {
    .contact table {
      margin-left: 0px;
    }
  }
}
