body {
  margin: 0px;
  padding: 0px;
}
.home {
  height: 100vh;
  width: 100vw;
  background-image: url(../image/home-image.jpg);
  opacity: 0.4;
  background-color: #868080;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
}
.home:hover {
  opacity: 0.2;
}
.home-fixed {
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.whoiam {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2;
  padding: 10px 20px;
  border: 3px solid black;
  font-weight: lighter;
}
.home-fixed h1 {
  font-size: 42px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  height: 50px;
  line-height: 50px;
}

.logo,
.nav-items,
.social-icons {
  width: 30%;
  text-align: center;
  margin: 0px 100px;
}
.nav-items ul {
  display: flex;
  margin: 0px;
}
.nav-items a {
  text-decoration: none;
  padding: 5px 10px;
}
.nav-items li {
  list-style-type: none;
}
.social-icons a img {
  width: 14px;
  height: 14px;
  margin: 0px 5px;
}
.social-icons a {
  text-decoration: none;
}
